# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Dependencies (bun install)
node_modules

# Output
out
dist
*.tgz

# Code coverage
coverage
*.lcov

# Logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Temp
tmp

# Tests (gitignored, not committed)
tests/

.jj

dev.just
